In [1]:
print(8)

8

In [2]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
print("mayank sharma op in the chat")

mayank sharma op in the chat

In [47]:
def add(a,b):
    return(a+b)
add (4,1)

167890123455

In [2]:
def fact(n):
    if (n==1):
        return 1
    else:
        return(n*fact(n-1))
    
fact(int(input()))

120

In [5]:
def add(n):
    if (n==1):
        return(1)
    elif(n==0):
        return 0
    else:
        return(n+add(n-1))

add(10)

55

In [6]:
def power(n, p):
    if p == 0:
        return 1
    elif p == 1:
        return n
    else:
        return (n*power(n, p-1))
n = 2
p = 6
print(power(n, p))

64

In [41]:
li = [1,2,3,4]
li2 = []
for i in li:
    li2.append(i**2)
print(li2)
id(li2)

[1, 4, 9, 16]

1774399135808

In [47]:
li_2 = [i**2 for i in li]
li_2

[1, 4, 9, 16]

In [49]:
li_2 = [i**2 for i in li if i%2==0]
li_2

[4, 16]

In [54]:
li = [1,2,3,4,5,6,7,8,9]
li_new = []
for i in li:
    if(i%2==0 and i%3==0):
        li_new.append(i)
        break
else:
    print("not divisible by 2 and 3")
print(li_new)

[6]

In [56]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
li2 = [i for i in li if i%2==0 and i%3==0]
print(li2)

[6]

In [67]:
s = "parikh"
li = [i for i in s]
li

['p', 'a', 'r', 'i', 'k', 'h']

In [69]:
li = ["parikh","rohan","mayank"]
li2 = [[s for s in i ] for i in li]
print(li2)

[['p', 'a', 'r', 'i', 'k', 'h'], ['r', 'o', 'h', 'a', 'n'], ['m', 'a', 'y', 'a', 'n', 'k']]

In [71]:
li = [[ i*j for j in range(4)] for i in range(3)]
print(li)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [72]:
li = [4,5,6,7,8]
list_new = [3,4,5,2,1]
list3 = []

In [74]:
list3 = [i for i in li for j in list_new if i==j]
list3

[4, 5]

In [1]:
li = [1,2,3,4,5]
li2 = [2,3,4,7,8]
li3 = []

In [3]:
li3  = [i for i in li for j in li2 if i == j]
print(li3)

[2, 3, 4]

In [1]:
li = [1,2,3,4,5]
li3 = []

In [3]:
li3 = [i for i in li if i%2==0]
print(li3)

[2, 4]

In [4]:
li = [1,2,3,4,5]
li2 = [2,3,4,7,8]
li3 = []

In [5]:
li3  = [i + j for i in li for j in li2 if i == j]
print(li3)

[4, 6, 8]

In [91]:
new = "Hii My Name Is Mayank,I Welcome My Self To The World Of Python"
new.split()

['Hii',
 'My',
 'Name',
 'Is',
 'Mayank,I',
 'Welcome',
 'My',
 'Self',
 'To',
 'The',
 'World',
 'Of',
 'Python']

In [92]:
list =["Hii My Name Is Mayank"]

In [98]:
list_new = [str(i) for i in list ]

In [99]:
list_new

['Hii My Name Is Mayank']

In [102]:
str = input().split()
str

['7']

In [109]:
str = input().split()
str

['34647']

In [17]:
#str_2 = ["hii my name is mayank sharma"]
str_2 = input().split("a")
str_2

['"my n', 'me is m', 'y', 'nk sh', 'rm', '']

In [1]:
n = int(input())
print(n)

5

In [6]:
a = int(input())
b = int(input())
c = a - b
print(c)

1

*
**
***
****

In [14]:
n = int(input())
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

n = int(input())
for i in range(1,n+1):
    for j in range(i):
        print(j,end="")
    print()

In [24]:
n = int(input())
for i in range(1,n+1):
    for j in range(n):
        print(n,end="")
    print()

55555
55555
55555
55555
55555

In [22]:
n = int(input())
for i in range(1,n+1):
    for j in range(2,i-1):
        print(n,end="")
    print()

5
55
555

In [12]:
n = int(input()) 
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

120

In [13]:
n = int(input())
for i in range(2,n):
    if(n%2==0):
        print("not a prime number")
        break
else:
    print("is a prime number")

not a prime number

In [3]:
a = 34
print(id(a))

1685523006736

In [4]:
a = 87
print(a)
print(id(a))
a = 67
print(a)
print(id(a))

87
1685523008432
67
1685523007792

:

In [7]:
print(6/4)
print(6//4)

1.5
1

In [10]:
n = int(input())
while n!=6:
    if n<=5 and n>=1:
        a = int(input())
        b = int(input())
    if(n==1):
        c = a + b
        print(c)
    if(n==2):
        c = a - b
        print(c)
    if(n==3):
        c = a * b
        print(c)
    if(n==4):
        c = a // b
        print(c)
    if(n==5):
        c = a % b
        print(c)
    if(n==6):
        quit()
    elif(n>6 or n<1):
        print("Invalid Operation")
    n = int(input())

5
1
Invalid Operation

In [11]:
n = 5
print(n)

5

In [12]:
def add(a,b):
    c = a + b
    return c

a = int(input())
b = int(input())
add(a,b)

9

In [14]:
a = 5
b = 0
print(a/b)
print("bye")

ZeroDivisionError: division by zero

In [16]:
import sys
print("sytem version is:")
print(sys.version)
print(sys.version_info)

sytem version is:
3.10.8 (tags/v3.10.8:aaaf517, Oct 11 2022, 16:50:30) [MSC v.1933 64 bit (AMD64)]
sys.version_info(major=3, minor=10, micro=8, releaselevel='final', serial=0)

In [17]:
print(sys.version)

3.10.8 (tags/v3.10.8:aaaf517, Oct 11 2022, 16:50:30) [MSC v.1933 64 bit (AMD64)]

In [19]:
date = 11/3/2022
time = "10:34"
print(time)
print(date)

10:34
0.001813386086383119

In [20]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2022-11-03

In [23]:
import datetime

a = datetime.datetime.today()
#b = datetime.datetime.now()
print(a)
#print(b)

2022-11-03 10:39:07.344678

In [26]:
n = int(input())
if n<0:
    print("negative")
if n==0:
    print("neutral")
else:
    print("positive")

neutral

In [28]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())
area = (x2 - x1) * (y2 - y1)
print(area)

4

In [1]:
import datetime

a = datetime.a.today()
#b = datetime.datetime.now()
print(a)
#print(b)

AttributeError: module 'datetime' has no attribute 'a'

In [5]:
import datetime

a = datetime.datetime.tom()
#b = datetime.datetime.now()
print(a)
#print(b)

AttributeError: type object 'datetime.datetime' has no attribute 'tom'

In [6]:
import datetime
a = datetime.datetime.today()
print(a)

2022-11-03 15:06:05.261549

In [11]:
n = 10
i = 0
while i<n:
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
dir(os)

['DirEntry',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_walk',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [13]:
x = 0
while x<9:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8

In [14]:
import random
n = int(input())
for i in n:
    if n==random:
        print("correct")
    else:
        print("wrong")

TypeError: 'int' object is not iterable

In [4]:
#n = int(input())
x = 50
while True:
    n = int(input())
    print("correct answer")
    break
    if n<x:
        print("smaller")
        continue
    if n>x:
        print("greater")
        continue

In [49]:
x = int(input())
while True:
    n = int(input())
    if n==x:
        print("correct")
        break
    if n<x:
        print("smaller")
    if n>x:
        print("greater")

smaller
correct

In [8]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n,end="")
    print()

4444
4444
4444
4444

In [10]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444

In [35]:
#q = 5
n = "stop and smell the roses"
print(n.title())

Stop And Smell The Roses

In [36]:
#q = 2
friends = ["manu","mayank","khausik"]
print(friends[::-1])

['khausik', 'mayank', 'manu']

In [37]:
#q = 3
no = [1,2,7,5,6]
great = 1
for i in no:
    if i > great:
        great = i
print(great)

7

In [46]:
#q = 6
n = input("Enter a date (mm/dd/yyyy):")
n2 = n.split("/")
month = int(n2[0])
day = int(n2[1])
year = int(n2[2])
if month == 1:
    month = "January"
elif month == 2:
    month = "February"
elif month == 3:
    month = "March"
elif month == 4:
    month = "April"
elif month == 5:
    month = "May"
elif month == 6:
    month = "June"
elif month == 7:
    month = "July"
elif month == 8:
    month = "August"
elif month == 9:
    month = "September"
elif month == 10:
    month = "Octomber"
elif month == 11:
    month = "November"
elif month == 12:
    month = "December"
else:
    print("Enter a valid month")

print(month,"",day,",",year)

November  6 , 2022

In [48]:
l1 = [1,2,3]
l2 = [5,6,7]
l1.extend(l2)
print(l1)

[1, 2, 3, 5, 6, 7]

In [54]:
#q = 3
n = int(input())
li = []
for i in range(n):
    element = int(input())
    li.append(element)
print(li)

[1, 2, 3, 4, 6]

In [55]:
great = li[0]
for i in li:
    if i > great:
        great = i
print(great)

6

In [5]:
# q = 4
list = [1, 4, 6, 7, 2]              # [2,1,4,6,7]

list = list[4:] + list[:4]
print(list)

[2, 1, 4, 6, 7]

In [1]:
Number=int(input())
even=0
odd=0
while(Number>0):
    Reminder = Number %10
    if(Reminder % 2 == 0):
        even=even + Reminder
    else:
        odd= odd + Reminder
    Number = Number //10
print(even,"",odd)n

6  9

In [3]:
n = int(input())
li = []
for i in range(n):
    element  = int(input())
    li.append(element)
print(li)

[1, 2, 3, 4, 6]

In [6]:
li = li[4:] + li[:4]
print(li)

[6, 1, 2, 3, 4]

In [13]:
#n = int(input())
tu = ()
for i in range(n):
    element  = int(input())
    tu.split()
print(tu)

AttributeError: 'tuple' object has no attribute 'split'

In [26]:
list = []
n = int(input())
print(n)

for i in range(n):
    element = int(input())
    list.append(element)
print(list)


for i in range(0,3,2):
    print(list[i])

5
[1, 2, 3, 4, 5]
1
3

In [24]:
n = int(input())
print("enter" ,int(n),"elements")

enter 5 elements

In [31]:
# CODE BY MAYANK SHARMA(section G-10 group 2)

# Write a program that accepts a list from user. Your program should reverse
n = int(input())  # Take an input this displace that how many elements are in list
li = []            # An empty List is Created
for i in range(n):  
    element  = int(input())   # A variable named element is created which will take input from user 
    li.append(element)        # the input taken above in variable element will be appended in li by using li.append
print(li)                     # after appending the elements in li we have printed li
print(li[::-1])               # now we have reversed the list using slicing space before : displace start space after : displace stop and at last it displace end

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [30]:
print(li[::-1])

[6, 4, 3, 2, 1]

In [34]:
mylist = []
size = int(input('How many elements you want to enter? '))

print('Enter',str(size),'elements')

for i in range(size):
    data = int(input())
    mylist.append(data)
    
x = mylist[:]
print(6)
x.reverse()
print('Reverse List:', x)

Enter 5 elements
6
Reverse List: [5, 4, 3, 2, 1]

In [36]:
a = [ 1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [38]:
li1 = [1,2,3,4,5]
li1[0] = 7
li1

[7, 2, 3, 4, 5]

In [41]:
str = "Mayank Sharma"
count = 0
for i in range(len(str)):
    if (str[i]=='a'):
        count = count + 1
print(count)

4

In [20]:
str = "Mayank Sharma"
count = 0
for i in range(len(str)):
    if (str[i]=='a'):
        count = count + 1
print(count)

4

In [21]:
str = "Mayank Sharma"
count = 0
for i in range(len(str)):
    #if (str[i]=='a'):
        count = count + 1
print(count)

13

In [43]:
str = "Mayank Sharma"
count = 0
for i in str:
    if (i == 'a'):
        count = count + 1
print(count)

4

In [56]:
str2 = "Mayank Sharma"
str2

'Mayank Sharma'

In [61]:
for i in str2:
    if 'Maya' in str2:
        print(True)
        break

True

In [73]:
str2
if 'sh' in str2:
    print(True)
else:
    print(False)

False

In [80]:
ord('#')

35

In [82]:
a = "abcdef" == "abcd"
print(a)

False

In [83]:
a = "abce" >= "abcdef"
print(a)

True

In [85]:
a = "mayank" <= "mayn"
a

True

In [131]:
s=input()
p=s[::-1]
if(s==p):
    print("true")
else:
    print("false")

false

In [137]:
s=input()
p=s[::-1]
if(s==p):
    print("true")
    print(s)
else:
    print("false")

true
121

In [99]:
any_string = "My Name Is Mayank"
print(any_string.replace("Mayank","Monu"))

My Name Is Monu

In [102]:
any_string = "My Name Is Mayank Mayank"
print(any_string.replace("Mayank","Monu",1))

My Name Is Monu Mayank

In [103]:
list1 = [3, 4, 5, 20, 5, 25, 1, 3]
list1.count(5)

2

In [106]:
 list1 = [3, 4, 5, 20, 5, 25, 1, 3]
 print(list1.sort())

None

In [113]:
str1 = "my Name Is mayank sharma"
str1.title()
str1.find("Is")

8

In [143]:
s=input()
p=s[::-1]
if(s==p):
    print("true")
    print(s)
else:
    print("false")

false

In [146]:
def fibo(n):
    a = 0
    b = 1
    print(a)
    print(b)
    for i in range(2,n):
        c = a + b
        a = b
        b = c
        print(c)
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [161]:
def check_palin(n):
    rev = 0
    x = n
    while n>0:
        rev = rev*10 + rev%10
        n = n//10
    if(x == rev):
        return 1
    else:
        return 0
n = int(input())
is_palin = check_palin(n)
if(is_palin):
    print("true")
else:
    print("false")

false

In [28]:
n = int(input())
for i in range(n):
    for j in range(n):
        if (j==i):
            print("*")
        else:
            print(n-j,end="")
    print()

*
4321
5*
321
54*
21
543*
1
5432*

In [35]:
n = int(input())
for i in range(n+1):
    for j in range(n+1):
        if (j!=i):
            print(j,end="")
        else:
            print('*',end="")
    print()

*12345
0*2345
01*345
012*45
0123*5
01234*

In [36]:
num = int(input())
copy = num
n=0
while(copy>0):
    n=n+1  # counting number of digits
    copy=copy//10

sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** n #number of digits in power
   temp //= 10
if num == sum:
    print("true")
else:
    print("false")

true

In [39]:
n = input()
p = n[::-1]
if(p==n):
    print("true")
else:
    print("false")

false

In [41]:
a = 2
b = 3
c = a+b
print(c)

5

In [43]:
def add(a,b):
    c = a+b
    return c


add(2,3)

5

In [45]:
n = int(input())
li = []
for i in range(n):
    element = int(input())
    li.append(element)
print(li)

[67, 65, 89, 90, 99]

In [46]:
li = li[-1:] + li[:-1]
print(li)

[99, 67, 65, 89, 90]

In [55]:
n = 5
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

120

In [56]:
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

n = int(input())
fact(n)

120

In [68]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [69]:
li = li[::-1]
print(li)

[5, 4, 3, 2, 1]

In [70]:
n = int(input())
li = []
for i in range(n):
    element = int(input())
    li.append(element)
print(li)

[1, 2, 3, 4, 5]

In [71]:
li = li[::-1]
li

[5, 4, 3, 2, 1]

li = [1,2,3,4,5]
li = [5,4,3,2,1]

In [82]:
li = [1,2,3,4,5]
for i in li:
    if(li[0]==li[4]):
        print(li)

In [85]:
li = [1,2,3,4,5]
l = len(li)
print(li)
i = 0
li2 = []
while i<l:
    li2.append(li[j-1])
    i+=1
print(li2)

[1, 2, 3, 4, 5]
[5, 5, 5, 5, 5]

In [88]:
n = int(input())
li = []
for i in range(n):
    element = int(input())
    li.append(element)
#print(li)
l = len(li)
print(li)
j=0
lst2 = []
while j<l:
    lst2.append(li[j-1])
    j+=1
print(lst2)

[1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]

In [4]:
def food(fruit):
    for i in fruit:
        print(i)

fruit = ["apple","mango","bannana"]
food(fruit)

apple
mango
bannana

In [8]:
fruit = ["mango","apple","bannana"]
c = fruit.index("mango")
print(c)

0

In [ ]:
list = [1,2,3,4,5]
tuple = (1,2,3,4)

In [48]:
li = [1,2,3,4,5]
li.remove(3)
print(li)

[1, 2, 4, 5]

In [49]:
tuplee = (1,2,3,4,5)
tuplee.remove(3)
print(tuplee)

AttributeError: 'tuple' object has no attribute 'remove'

In [52]:
li = [1,2,3,4,5]                       # because its mutable
li.append("mayank sharma")
print(li)

[1, 2, 3, 4, 5, 'mayank sharma']

In [58]:
li = [1,2,3,4,5]
li2 = ["mayank ","singla"]
li.append(li2)
print(li)
li.remove(4)
print(li)

[1, 2, 3, 4, 5, ['mayank ', 'singla']]
[1, 2, 3, 5, ['mayank ', 'singla']]

In [75]:
n = int(input())
for i in range(n):
    for j in range(n):
        print(n,end="")
    print()

4444
4444
4444
4444

In [69]:
def devices(electronics):
    for i in electronic:
        print(i)

electronic = ["pc","laptop","mobile"]
devices(electronic)

pc
laptop
mobile

In [77]:
for i in range(10,14):
    for j in range(2,i):  # 2,3,4,5,6,7,8,9,10
        if i%j==1:
            print(i)
            break

10
11
12
13

In [78]:
li = [1,2,3,4,5,"mayank sharma",2.23]
for i in li:
    print(i)

1
2
3
4
5
mayank sharma
2.23

In [79]:
li

[1, 2, 3, 4, 5, 'mayank sharma', 2.23]

In [82]:
li.pop(3)
li

[1, 2, 3, 'mayank sharma', 2.23]

In [85]:
li.append(546678)
li

[1, 2, 3, 'mayank sharma', 2.23, 6, 6, 546678]

In [93]:
li

[1, 2, 3, 'mayank sharma', 2.23, 6, 6, 546678]

In [3]:
li1 = [1,2,3,4,5]
li2 = ["mayank sharma"]
li2.append(li1)
li2

['mayank sharma', [1, 2, 3, 4, 5]]

In [12]:
li2[1][2]

3

In [10]:
list1 = [1,2,3,4,4,12232,3454355,1,2,]
list1.sort()
list1

[1, 1, 2, 2, 3, 4, 4, 12232, 3454355]

In [13]:
li1 = [1,2,3,4,5]
li2 = ["mayank sharma"]
li2.extend(li1)
li2

['mayank sharma', 1, 2, 3, 4, 5]

In [19]:
li1

[4, 4, 4, 1, 4, 4, 2, 3, 4, 5]

In [21]:
list1 = [1,2,3,4,5]
list1.insert(2,4)
list1

[1, 2, 4, 3, 4, 5]

In [26]:
def add(a,b):
    a = a + b
    return a

a = 2
b = 3
c = add(a,b)
print(c)

5

In [32]:
li = [1,2,3,4,"mayank sharma"]
li[::-1]

['mayank sharma', 4, 3, 2, 1]

In [35]:
list1 = [1,2,3,4]
list2 = ["mayank sharma"]
list1.extend(list2)
list1

[1, 2, 3, 4, 'mayank sharma']

In [37]:
list1[4] = 7
list1

[1, 2, 3, 4, 7]

In [38]:
list1

[1, 2, 3, 4, 7]

In [40]:
list1.pop()
list1

[1, 2, 3]

In [41]:
list1

[1, 2, 3]

In [45]:
list1.insert(1,7)
list1

[1, 7, 4, 4, 2, 3]

In [48]:
list1.remove(4)
list1

[1, 7, 4, 2]

In [51]:
list3 = [1,2,3,4,5,2]
list3.remove(2)
list3

[1, 3, 4, 5, 2]

In [53]:
list4 = [1,7,8,2,3,9,0,4,5]
list4.sort(reverse=True)
list4

[9, 8, 7, 5, 4, 3, 2, 1, 0]

In [54]:
fruits = ["apple","bannana","cherry"]
print(fruits)

['apple', 'bannana', 'cherry']

In [56]:
for i in fruits:
    print(i)

apple
bannana
cherry

In [60]:
def food(fruits2):
    for i in fruits:
        print(i)
    

fruits2 = ["apple","mango","watermelon"]
food(fruits)

apple
bannana
cherry

In [63]:
n = int(input())
li = []
for i in range(n):
    mayank = int(input())
    li.append(mayank)
print(li)

[1, 2, 3, 4]

In [72]:
list4 = [1,2,3,4,"mayank",5]
c=list4.split()
print(c)

AttributeError: 'list' object has no attribute 'split'

In [73]:
lst1 = [1,2,3,4,5,6,7,8,9]
lst2 = []

In [74]:
lst2 = [i for i in lst1 if i%2==0]
lst2

[2, 4, 6, 8]

In [75]:
(lambda x,y,z:(x+y+z))(100,100,100)

300

In [4]:
n = input()
s = n[::-1]
if(s==n):
    print("true")
else:
    print("false")

true

In [9]:
new_list2 = [1,2,3,4,5]
min(new_list2)

1

In [13]:
new_list3 = [1,2,3,4,5]
greatest = new_list3[0]
for i in new_list3:
    if(greatest < i):
        greatest = i
print(greatest)

5

In [18]:
print(id(new_list3))

1738450650816

n = int(input())
rev = 0
x = n
while n>0:
    rev = rev*10+rev%10
    n = n//10
    if(rev==n):
        print("true")
        break
    else:
        print("false")
    i = i + 1

In [58]:
n = int(input())
rev = 0
x = n
while n>0:
    rev = (rev*10)+n%10
    n = n//10
if(rev==x):
    print("true")

else:
    print("false")

true

In [66]:
num = int(input())
'''
x = num
n=0
while(x>0):
    n=n+1  # counting number of digits
    x=x//10
'''
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** n #number of digits in power
   temp //= 10
if num == sum:
    print("true")
else:
    print("false")

true

In [84]:
n = int(input())
x = n
sum = 0
while n>0:
    digit = n%10
    sum = sum + digit**n
    n = n//10
if(x == sum):
    print("true")
else:
    print("false")

false

In [129]:
def printTable(start,end,step):
    for curr_temp in range(start, end+1, step):
        c = 5/9 * (curr_temp-32)
        print(curr_temp, " ",int(c))
   
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

1   -17
2   -16
3   -16
4   -15
5   -15
6   -14

In [128]:
li = [x for x in input().split()]
print(li)

['1', '2', '3', '4', '5']

In [126]:
list = [1,2,3,4,5]
# 1+2+3+4+5 = 15
sum=0
for i in range(len(list)):
    sum = sum+list[i]
print(sum)

15

In [18]:
list1 = [[1,2,3,4],[5,6,7,8],[67,78,90],[12,34,5,6,78],[12,34,56,78,78]]
#print(list1)
id(1)
#id(list1)
#id(list[0])

2462037573872

In [19]:
list1

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [67, 78, 90],
 [12, 34, 5, 6, 78],
 [12, 34, 56, 78, 78]]

In [27]:
li1 = [1,2,3,4,5,6,7,8,9,10]
li2 = []

In [29]:
li2 = [i for i in li1 if i%2==0 or i%3==0]
li2

[2, 3, 4, 6, 8, 9, 10]

In [30]:
li2 = [i for i in li1 if i%2==0 and i%3==0]
li2

[6]

In [14]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(x[0])):
        result[i][j] = x[i][j] + y[i][j]
for r in result:
    print(r)
#print(result)

[10, 10, 10, 10]
[8, 9, 11, 13]
[10, 10, 20, 22]

In [23]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):
        result[i][j] = x[i][j] + y[i][j]
for r in result:
    print(r)

[10, 10, 10, 10]
[8, 9, 11, 13]
[10, 10, 20, 22]

In [26]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):
        result[i][j] = x[i][j] * y[i][j]
for r in result:
    print(r)

[9, 16, 21, 24]
[15, 18, 28, 40]
[16, 9, 100, 121]

doubt

In [124]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):

        for k in range(len(result)):
            result[i][j] += x[i][j] * y[i][j]

for r in result:
    print(r)

[27, 48, 63, 72]
[45, 54, 84, 120]
[48, 27, 300, 363]

In [5]:
import numpy as np
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]

np.dot(x,y)

ModuleNotFoundError: No module named 'numpy'

In [3]:
import numpy as np
x = [[1,2,3,4],
    [5,6,7,8]]

y = [[9,8,7,6],
    [3,3,4,5]]

np.dot(x,y)

ModuleNotFoundError: No module named 'numpy'

In [4]:
import numpy as np
arr=np.array([[1,2,3,4,5],[11,232,131,121,112]])
x=arr.shape
print(arr)
print(type(arr))
print(x)
arr.dtype

ModuleNotFoundError: No module named 'numpy'

In [123]:
str = input().split()
n,m = int(str[0]),int(str[1])
li = [[int(j) for j in input().split()] for i in range(n)]
li

[[5, 6, 7, 8]]

In [122]:
li

[[5, 6, 7, 8]]

In [111]:
n = 8
#m = 4
li = [[int(j) for j in input().split()]for i in range(n)]

In [120]:
li3 = [int (i) for i in input().split()]
li3

[1, 2, 3, 4, 5]

In [112]:
li

[[1], [2], [3], [4], [5], [6], [7], [8]]

In [23]:
print(type(li))

<class 'list'>

In [28]:
st = input().split()
n,m = int(st[0]),int(st[1])
b = input().split()
arr = [[int(b[m*i+j]) for j in range(m)] for i in range(n)]


for i in range(n):
    for j in range(m):
        print(arr[i][j],end="")
    print()

123
456

In [31]:
arr

[[1, 2, 3], [4, 5, 6]]

In [7]:
li = [1,2,3,4]
li2 = [2,6,4,8]
li3 = []
for i in li:
    for j in li2:
        if i==j:
            li3.append(i)
print(li3)

[2, 4]

In [9]:
list = [1,2,3,4]
list2 = [2,4,6,7]
list3 = []

In [10]:
list3 = [i for i in list for j in list2 if i == j]
list3

[2, 4]

In [18]:
list_3 = ["mayank","kausihk","bansal"]
list_2 = [[j for j in i]for i in list_3]
list_2

[['m', 'a', 'y', 'a', 'n', 'k'],
 ['k', 'a', 'u', 's', 'i', 'h', 'k'],
 ['b', 'a', 'n', 's', 'a', 'l']]

In [34]:
#str = input().split()
n = int(input())
m = int(input())
str = input().split()
li = [[int(j) for j in input().split()] for i in range(n)]

In [49]:
str = input().split()
n,m = int(str[0]),int(str[1])
li = [[int(j) for j in input().split()] for i in range(n)]
li

[[1, 2, 3], [1, 2, 3]]

In [35]:
li

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [40]:
str = input().split()
n,m = int(str[0]),int(str[1])
li_2 = [[int(j) for j in input().split] for i in range(n)]
li_2

TypeError: 'builtin_function_or_method' object is not iterable

In [48]:
"abcd".join('rt')

'rabcdt'

In [44]:
"abcd".join("1""2""3")

'1abcd2abcd3'

In [47]:
"abcd".join(['1','2','3','4'])

'1abcd2abcd3abcd4'

In [56]:
# not running in v.s code
li = [[1,2,3,4],[4,5,6,7],[78,89,90,45]]
n=3
for row in li:
    output = ' '.join([str(ele) for ele in row])
    print(output)

TypeError: 'list' object is not callable

In [79]:
def sum_of_largest_column(li_6):
    n = len(li)
    m = len(li[0])
    max = -1
    max_col_index = -1
    for j in range(m):
        sum = 0
        #max = -1
        for i in range(n):
            sum = sum + li_6[i][j]
        if sum > max:
            max_col_index = j
            max = sum
    return max,max_col_index


li_6 = [[1,2,3,4],[5,6,7,8],[4,7,8,9]]
lar_sum,last = sum_of_largest_column(li_6)
print(lar_sum,last)

21 3

In [80]:
def sum_of_largest_column(li_6):
    n = len(li)
    m = len(li[0])
    max = -1
    #max_col_index = -1
    for j in range(m):
        sum = 0
        #max = -1
        for i in range(n):
            sum = sum + li_6[i][j]
        if sum > max:
            #max_col_index = j
            max = sum
    return max


li_6 = [[1,2,3,4],[5,6,7,8],[4,7,8,9]]
last = sum_of_largest_column(li_6)
print(last)

21

In [4]:
def sum_of_largest_column(li_6):
    #n = len(li)
    #m = len(li[0])
    max = -1
    #max_col_index = -1
    for j in range(len(li[0])):
        sum = 0
        #max = -1
        for i in range(len(li)):
            sum = sum + li_6[i][j]
        if sum > max:
            #max_col_index = j
            max = sum
    return max


li_6 = [[1,2,3,4],[5,6,7,8],[4,7,8,9]]
last = sum_of_largest_column(li_6)
print(last)

NameError: name 'li' is not defined

In [85]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for j in range(4):
    for ele in li:
        print(ele[j],end = " ")

1 5 9 2 6 10 3 7 11 4 8 12

In [86]:
str = "hello"
str[1]="a"
print(str)

TypeError: 'str' object does not support item assignment

In [87]:
str = "hello"
str1 = "world"
print(str+str1)

helloworld

In [89]:
str_1 = "hello how are you python"
print(str_1.count(str_1))

1

In [92]:
message = "she is my best friend"
print(message.endwith("end",0,len(message)))

AttributeError: 'str' object has no attribute 'endwith'

In [4]:
tuple = (1,)
type(tuple)

tuple

In [6]:
tu = (1,2,"fivc")
tu

(1, 2, 'fivc')

In [8]:
quo,rem = divmod(100,3)
print(quo)
print(rem)

33
1

In [28]:
tup = (56,3)
quo,rem = divmod(*tup)
print(quo)
print(rem)

18
2

In [19]:
tuple1 = (1,2,3,4)
tuple2 = (1,6,3)
print(tuple1<tuple2)

True

In [21]:
(val1,val2,val3) = (1,2,3)
print(val1,val2,val3)

1 2 3

In [23]:
name = (("mayank",),("kaushik",))
for i in name:
    print(i)

('mayank',)
('kaushik',)

In [26]:
n = int(input())
li = []
for i in range(n):
    ele = int(input())
    li.append(ele)
print(li)

[1, 2, 3]

In [29]:
n = int(input())
li = ()
for i in range(n):
    ele = int(input())
    li.append(ele)
print(li)

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
tup = (1,2,3,4,5)
list1 = ["a","b","c","d","e"]
print(list((zip(tup,list1))))

TypeError: 'list' object is not callable

In [43]:
tup1 = (1,2,3)
tup2 = (5,6,7)
print(tup1+tup2)

(1, 2, 3, 5, 6, 7)

In [3]:
str = "my name is mayank sharma"
str1 = str.split()
str1

['my', 'name', 'is', 'mayank', 'sharma']

In [9]:
str_1 = "my name is mayank sharma and i study in chitkara university"
str_2 = str_1.replace("my","our")
str_2

'our name is mayank sharma and i study in chitkara university'

In [6]:
str_1

'my name is mayank sharma and i study in chitkara university'

In [7]:
str_2

'our name is mayank sharma and i study in chitkara university'

In [110]:
str_old = "my name is mayank mayank mayank"
str_new = str_old.replace("mayank","sharma",1)
str_new

'my name is sharma mayank mayank'

In [18]:
str_old.find("mayank")

11

In [21]:
str_old.find("mayank",25,31)

25

STARTSWITH ALWAYS RETURN BOOLEAN VALUE

In [26]:
new = str_old.startswith("my name i")
print(new)

True

In [6]:
import sys from stdin
n = stdin.readline().strip();
print(n)

SyntaxError: invalid syntax (274825589.py, line 1)

In [44]:
str2 = "sanyam" 
b = sorted(str2) 
str2 = " ".join(b) 
str2

'a a m n s y'

In [31]:
str1 = "srtnig"
#a = sorted(str1) 
str1 = " ".join(str1)
#str2 = "string" 
#b = sorted(str2) 
#str2 = "".join(b)
str1
#str2

's r t n i g'

In [19]:
# revise
def is_permuntation(n,m):
    n1 = len(n)
    m1 = len(m)
    if len(n) != len(m):
        return False
    # storted will arrange the words in aceding order
    a = sorted(n)
    n = "".join(a) # join will seperate the words 
    b = sorted(m)
    m = "".join(b)

    for i in range(n1): 
        if(n[i]!=m[i]):  # it will check the elements in n == m or not
            return False  # if not then it will return false
    return True  # if yes then it will return true

#main
n = input()
m = input()
if(is_permuntation(n,m)):
    print("true")
else:
    print("false")

true

In [40]:
str1 = "aaabc"
for i in str1:
    for j in i:
        str1 = " ".join(str1)
        if i==j:
            str1 = " ".join(str1)
            str1.remove()
else:
    print("fuck u")

    #if str1[i]
print(count)

AttributeError: 'str' object has no attribute 'remove'

In [62]:
s = "aabcc"
i = 0
s1 = ""
for x in s:
    if s.index(x)==i:
        s1 = s1+x
    i=i+1
print(s1)

abc

In [67]:
a,b = (10,19)
print(b)

19

In [108]:
str = "asaaaaabbb"
empty = ""
x = 0
for i in str:
    if str.index(i) == x:
        empty+=i
    x+=1
print(empty)

asb

if we give more than more values to a variable then it automatically create tuple and its type is tuple

In [68]:
e = 4,5
print(e)
print(type(e))

(4, 5)
<class 'tuple'>

In [85]:
c = (9,3,4,5,2)
c[0:-1]

(9, 3, 4, 5)

providing more numbers to add by MORE function

In [105]:
def sum(a,b,*more):
    print(more)
    ans = a + b
    for i in more:
        ans = ans + i
    return(ans)



sum(2,3,3,5,6)

(3, 5, 6)

19

adding and multiplying numbers with more function

In [106]:
def add_multi(a,b,*more):
    adding = a+b
    multi = a*b
    for i in more:
        adding += i
        multi *= i
    return adding,multi

add_multi(1,2,3,4,5,6,7)

(28, 5040)

In [112]:
d = {1:2, "abc":5, "def":7}
c = d.get(0)
c

In [1]:
tup = (1,2,3,4)
list2 = ["a","b","c","d"]
print(tuple((zip(tup,list2))))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

In [33]:
tuple_1 = (3,4,5,6)
list = ["a","b","c","f"]
print(tuple((zip(tuple_1,list))))

TypeError: 'tuple' object is not callable

In [101]:
def check_palindrome(n):
    rev = 0
    x = n
    while n>0:
        rev = (rev*10)+n%10
        n = n//10
    if(rev==x):
        return 1
    else:
        return 0
    
n = int(input())
is_palindrome=check_palindrome(n)
if(is_palindrome):
    print("true")
else:
    print("false")

false

In [102]:
def check_palindrome(n):
    rev = 0
    x = n
    while n>0:
        rev = (rev*10)+n%10
        n = n//10
    if(rev==x):
        return 1
    else:
        return 0
    
n = int(input())
if check_palindrome(n):
    print("true")
else:
    print("false")

false

In [105]:
def check_palindrome(n):
    rev = 0
    x = n
    while n>0:
        rev = (rev*10)+n%10
        n = n//10
    if(rev==x):
        return 1
    else:
        return 0

n = int(input())
if check_palindrome(n):
    print("true")
else:
    print("false")

true

In [10]:
str = "erdtfyuiodfghjkl cvbhjk xcfghj"
str = str.split(" ")
str

['erdtfyuiodfghjkl', 'cvbhjk', 'xcfghj']

In [15]:
di = {"ert":9,"ryru":4}
di

{'ert': 9, 'ryru': 4}

In [26]:
twister="can you can a can as a canner can can a can"
word_count={}
for i in twister.split():
    if i not in word_count:
        word_count[i]=1
    else:
        word_count[i]+=1
print(word_count)

{'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1}

In [97]:
line = "love the way you lie buddy"
str = {}
for i in line.split():
    if i not in str:
        str[i] = 1
    else:
        str[i] += 1 
print(str)

{'love': 1, 'the': 1, 'way': 1, 'you': 1, 'lie': 1, 'buddy': 1}

In [38]:
d = {1:2, "abc":5, "def":7}
if 1 in d:
    print("yes")
else:
    print("not present")

yes

In [43]:
T = int(input())
no_of_squats = 15 * T
print(no_of_squats)

45

In [ ]:
import time
n = int(input())
for i in range(n,-1,-1):
    print(i)
    time.sleep(1)
print("time up")

In [53]:
a = list(map(int,input().split()))
a

[12, 34, 56]

In [56]:
a = input().split()
a

['12', '34', '56']

In [23]:
t = {"list":3,"tuple":4,"mayank":7}
t

{'list': 3, 'tuple': 4, 'mayank': 7}

In [27]:
tuple = (1,2,3,4)
print(list(tuple))

[1, 2, 3, 4]

In [24]:
t["mayank"] = 4
t

{'list': 3, 'tuple': 4, 'mayank': 4}

In [25]:
t

{'list': 3, 'tuple': 4, 'mayank': 4}

In [26]:
t["list"]=9
t

{'list': 9, 'tuple': 4, 'mayank': 4}

In [27]:
t

{'list': 9, 'tuple': 4, 'mayank': 4}

In [28]:
b = {"no":2,4:5,"list":9,"more exceptation":3}
t.update(b)
t

{'list': 9, 'tuple': 4, 'mayank': 4, 'no': 2, 4: 5, 'more exceptation': 3}

In [30]:
t.pop("no")

2

In [31]:
t

{'list': 9, 'tuple': 4, 'mayank': 4, 4: 5, 'more exceptation': 3}

In [38]:
t = t[4]
t

5

In [42]:
s = "this world is selfish this is"
s = s.split()
s

['this', 'world', 'is', 'selfish', 'this', 'is']

In [43]:
d = {}
for i in s:
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1

d

{'this': 2, 'world': 1, 'is': 2, 'selfish': 1}

In [45]:
d = {}
for i in s:
    d[i] = d.get(i,0) + 1
d

{'this': 2, 'world': 1, 'is': 2, 'selfish': 1}

In [9]:
li = [1,2,3,4,5,6,7]
li3 = [6,7,2,8,9,10]
li2 = []

In [10]:
li2 = [i for i in li for j in li3 if i%j==0]
li2

[2, 4, 6, 6, 7]

In [13]:
tuple_list = ([1,2],[3,4],[5,6])
type(tuple_list)

tuple

In [ ]:
# revise
def is_permuntation(n,m):
    n1 = len(n)
    m1 = len(m)
    if len(n) != len(m):
        return False
    # storted will arrange the words in aceding order
    a = sorted(n)
    n = "".join(a) # join will seperate the words 
    b = sorted(m)
    m = "".join(b)

    for i in range(n1): 
        if(n[i]!=m[i]):  # it will check the elements in n == m or not
            return False  # if not then it will return false
    return True  # if yes then it will return true

#main
n = input()
m = input()
if(is_permuntation(n,m)):
    print("true")
else:
    print("false")

In [15]:
for i in range(int(input())):
    a,b = map(int,input().split())
    if a + b == 4 or a + b < 4:
        print()

correct code
correct code

In [17]:
dict = {"roll no":3456,"name": 'arnav',"course":'b.tech'}
print("Keys :",end = " ")
for keys in dict:
    print(keys)

Keys : roll no
name
course

In [18]:
set = {'srtru',"tyui"}
set2 = {"wewr","ert"}
set.update(set2)
set

{'ert', 'srtru', 'tyui', 'wewr'}

In [78]:
import random
import time

#time_table = map(int,input().split())  #"maths","physics"
subjects = ["maths","physics","master class python"]

days=["mon","tue","wed","thu","fri"]
for i in days:
    i=[]
    c=0
    j=1
    while j>0:
        c=random.choice(subject)
        if c not in i:
            i.append(c)
        if len(i)==x:
            break
        j+=1
    table.append(i)

('9-10', '11-12', '1-2')

In [83]:
table=[[]]
x = 3
for i in range(x):
    t=input("Enter time for class:")
    table[0].append(t)
table

[['1-2', '3-4', '5-6']]

In [1]:
s = "can you can you can you can canner"
d = {}
for i in s.split():
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1
print(d)

{'can': 4, 'you': 3, 'canner': 1}

In [6]:
#s = "can you can can you can canner"
e = map(int,input().split())
e

In [ ]:
1. What is difference between Sets and Dictionaries?
(a). Sets are mutable and Dictionaries are imutable.
(b). Sets are imutable and Dictionaries are mutable.
(c). Sets are mutable and Dictionaries are mutable but dictionaries stores data and key value-pairs.
(d). Sets are imutable and sets stores data and key value-pairs and Dictionaries are imutable .

In [ ]:
2. s = "Maanya"
i = 0
s1 = ""
for x in s:
    if s.index(x)==i:
        s1 = s1 + x
    i+=1
print(s1)

What Output will s1 will give ?

(a) Manya
(b) Many
(c) Mny
(d) Mnya

In [15]:
3. str = "Chitkara university"
str = str.split()
type(str)
What is the type of str ? 
(a) list
(b) str
(c) tuple
(d) int

str

In [ ]:
4. Another way of representing or calling dictionarie ?

(a) d = dict([("how",3),("are",4),("you",3)])
(b) d = dict.fromkeys(["how","are","you"])
(c) d = {"how":3,"are":4,"you":3}
(d) None of these

In [23]:
5. d = {"list":3,"int":4,"str":3}
d.get("list")

What will be the output ?

(a) 3
(b) (3)
(c) ("3")
(d) [3]

In [25]:
d.get("tuple")

In [27]:
s = "Maanya"
i = 0
s1 = ""
for x in s:
    if s.index(x)==i:
        s1 = s1 + x
    i+=1
print(s1)

Many

In [33]:
def remove_char(str,ch):
    print(str.replace(ch,''))
    
str = "baabccaaa"
ch = "a"
remove_char(str,ch)

bbcc

In [36]:
str = "aaaabcca"
ch = "a"
print(str.replace(ch,''))

bcc

In [ ]:
def sum_of_largest_column(li_6):
    n = len(li)
    m = len(li[0])
    max = -1
    max_col_index = -1
    for j in range(m):
        sum = 0
        #max = -1
        for i in range(n):
            sum = sum + li_6[i][j]
        if sum > max:
            max_col_index = j
            max = sum
    return max,max_col_index


li_6 = [[1,2,3,4],[5,6,7,8],[4,7,8,9]]
lar_sum,last = sum_of_largest_column(li_6)
print(lar_sum,last)

In [11]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):

        for k in range(len(result)):
            result[i][j] += x[i][j] * y[i][j]

for r in result:
    print(r)

[27, 48, 63, 72]
[45, 54, 84, 120]
[48, 27, 300, 363]

In [12]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):
        result[i][j]+=x[i][j] + y[i][j]
for row in result:
    print(row)

[10, 10, 10, 10]
[8, 9, 11, 13]
[10, 10, 20, 22]

In [25]:
def addition(li):
    n = len(li)
    m = len(li[0])
    max_sum = -1
    max_index = -1
    for j in range(m):
        sum = 0
        for i in range (n):
            sum += li[i][j]
        if sum > max_sum:
            max_sum=sum
            max_index = j
    return max_sum,max_index




li= [[1,2,3],
    [4,5,6],
    [7,8,9]]
sum,index = addition(li)
print(sum,index)

18 2

In [26]:
def addition(li):
    n = len(li)
    m = len(li[0])
    max_sum = -1
    max_index = -1
    for i in range(n):
        sum = 0
        for j in range(m):
            sum += li[i][j]
        if sum > max_sum:
            max_sum=sum
            max_index = i
    return max_sum,max_index


li= [[1,2,3],
    [4,5,6],
    [7,8,9]]
sum,index = addition(li)
print(sum,index)

24 2

In [32]:
def sum(a,b,*more):
    c = a+b
    print(c)
    for i in more:
        c = c + i
    return c


a = 3
b = 7
f = sum(a,b,3,4,5)
f

10

22

In [4]:
def add_row(li):
    for i in range(len(li)):
        sum = 0
        max = 0
        for j in range(len(li[0])):
            sum+=li[i][j]
            if sum > max:
                max=sum
    return max


li = [[1,2,3],[4,5,6],[6,7,8]]
a = add_row(li)
print(a)

21

In [5]:
str = "aabbcbcas"
str_4 = ""
for i in str:
    if str_4 == "" or i!=i[len(str_4)-1]:
        str_4+=i
print(str_4)

a

In [19]:
n = int(input())
for i in range(n):
    for j in range(n):
        print(n,end='')
    print()

4444
4444
4444
4444

In [18]:
n = 5
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [21]:
*
**
***
****
*****

SyntaxError: invalid syntax (3310241707.py, line 1)

In [23]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [106]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
1
11
121
1221

In [64]:
n = 4
for i in range(n+1):
    for j in range(i):
        if(j==1 or j>=i+1):
            print(2,end="")
        else:
            print(1,end="")
    print()

1
12
121
1211

In [78]:
n = 4
for i in range(n,0,-1):
    for j in range(i):
        print(i,end="")
    print()

4444
333
22
1

In [ ]:

11
202
3003

In [94]:
n = 4
print(1)
i = 1
while n-1>=i:
    j = 1
    while j<=i+1:
        if(j==1 or j>=i+1):
            print(i,end="")
        else:
            print(0,end="")
        j+=1
    print()
    i+=1

1
11
202
3003

In [96]:
print(1)
n = 4
i = 1
while i<=n-1:
    j = 1
    while j<=i+1:
        if(j==1 or j>=i+1):
            print(i,end="")
        else:
            print(0,end="")
        j+=1
    i+=1
    print()

1
11
202
3003

In [110]:
n = 5
for i in range(n):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i+1):
        print(8,end=" ")
    print()

     8
    8 8
   8 8 8
  8 8 8 8
 8 8 8 8 8

In [119]:
n = 4
for i in range(n+1):
    for j in range(i):
        k = chr(i)
        print(k,end="")
    print()






In [124]:
n = 4
for i in range(n):
    for j in range(i+1):
        k = ord('A')+i
        print(chr(k),end="")
    print()

A
BB
CCC
DDDD

In [139]:
n = 4
for i in range(n+1):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444

In [1]:
dict = {"this":0,"IJK":3}
print(dict.items())

dict_items([('this', 0), ('IJK', 3)])

In [91]:
d = dict.fromkeys(("this"),("is"),("you")7)
d

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2596919976.py, line 1)

In [2]:
import os
t = os.getcwd()
print(t)

d:\python v.s code

In [3]:


import sys
print("You entered: ",sys.argv[1], sys.argv[2], sys.argv[3])

You entered:  --ip=127.0.0.1 --stdin=9003 --control=9001

In [12]:
import random
print(random.randint(1,100))

96

In [22]:
import random
list = [1,2,3,4,4,5,5,6,6,7]
random.shuffle(list)
list

[5, 4, 2, 4, 7, 5, 1, 6, 6, 3]

In [36]:
import random
e = random.choice([1,2,3,4,5])
print(e)

4

In [46]:
import random
print(random.Random().random())

0.5010202943305442

In [53]:
import random
random.randint(1,1)

1

In [20]:
n = int(input())
list = [1,2,3,4,5,6]
for i in range(len(list)):
    if n == list[i]:
        print(i)
        break
else:
    print("na")

2

In [1]:
list_1 = [1,2,3,4,5,6,7]
n = int(input())
for i in range(len(list_1)):
    d = list_1//2
    if n>d:
        s = d+len(list_1)//2    # 4+7//2
        if s<d:   #5+7//2
            print(s)

TypeError: unsupported operand type(s) for //: 'list' and 'int'

In [8]:
def binary_search(array,x1):
    lower_bound = 0
    upper_bound = len(array)-1
    
    while lower_bound<=upper_bound:
        middle = (lower_bound+upper_bound)//2
        if x1 == array[middle]:
            return "your number is at middle", middle
        elif x1 < array[middle]:
            upper_bound = middle - 1

        else:
            lower_bound = middle + 1
    return "Your number is not present in given array sorry !!"

array = [12,34,45,56,67,89]
x1 = 56
binary_search(array,x1)

('your number is at middle', 3)

In [17]:
def selection_sort(a):
    for i in range(len(a)):
        min = i
        for j in range(i+1,len(a)):
            if a[j]<a[min]:
                min = j
        a[i],a[min] = a[min],a[i]
    return a

selection_sort([12,3,45,567,78,8])

[3, 8, 12, 45, 78, 567]

In [22]:
def binary_search(array,element):
    lower_bound = 0
    upper_bound = len(array)-1
    while lower_bound <=upper_bound:
        middle = (upper_bound+lower_bound)//2
        if element == array[middle]:
            return "your are in middle" , middle
        elif element < array[middle]:
            upper_bound = middle - 1
        else:
            lower_bound = middle + 1
    return "number is not present"

array = [12,23,345,56]
element = 23
binary_search(array,element)

('your are in middle', 1)

In [34]:
def selection_sort(a):
    for i in range(len(a)):
        smallest = i
        for j in range(i+1,len(a)):
            if a[j] < a[smallest]:
                smallest = j
        a[i],a[smallest] = a[smallest],a[i]
    return a
a = [12,34,56,2,1,3,78,90]
selection_sort(a)

[1, 2, 3, 12, 34, 56, 78, 90]

In [37]:
def binary_search(array,element):
    lower_bound = 0
    upper_bound = len(array)-1
    while lower_bound <=upper_bound:
        middle = (upper_bound+lower_bound)//2
        if element == array[middle]:
            return "your are in middle" , middle
        elif element < array[middle]:
            upper_bound = middle - 1
        else:
            lower_bound = middle + 1
    return "number is not present"

n = int(input())
array = []
for i in range(n):
    element = int(input())
    array.append(element)
element = int(input())
binary_search(array,element)

('your are in middle', 2)

In [69]:
def bubble_sorting(array):
    for i in range(len(array)):
        for j in range(len(array)-1):
            if array[j] > array[j+1]:
                array[j],array[j+1] = array[j+1],array[j]
    return array

bubble_sorting([12,23,1,5,2,3,45])

[1, 2, 3, 5, 12, 23, 45]

In [41]:
def bubble_sorting(a):
    for i in range(len(a)):
        for j in range(len(a)-1):
            if a[j] > a[j+1]:
                a[j],a[j+1] = a[j+1],a[j]
    return a
bubble_sorting([12,23,45,67,2,3,4,23,4])

[2, 3, 4, 4, 12, 23, 23, 45, 67]

In [42]:
def selsction_sort(a):
    for i in range(len(a)):
        min = i
        for j in range(i+1,len(a)):
            if a[j] < a[min]:
                min = j
            a[i],a[min] = a[min],a[i]
    return a

selsction_sort([45,12,78,9078,34,23,12,2])

[2, 12, 12, 23, 34, 45, 78, 9078]

In [43]:
def bubble_sorting(array,element):
    lower_bound = 0
    upper_bound = len(array)-1
    for i in range(len(array)):
        middle = (lower_bound+upper_bound)//2
        for j in range(len(array)):
            if element == array[middle]:
                return "you are at middle",middle
            elif element < array[middle]:
                upper_bound = middle-1
            else:
                lower_bound = middle+1
    return "element is not present"
#main
array = [12,34,56,78,890,90]
element = 890
bubble_sorting(array,element)

('you are at middle', 4)

In [ ]:
n = int(input())
li = []
for i in range(n):
    element = int(input())
    li.append(element)
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [51]:
matrix = []
row = int(input())
col = int(input())
for i in range(row):
    a = []
    for j in range(col):
        element = int(input())
        a.append(element)
        matrix.append(a)
for i in range(row):
    for j in range(col):
        print(matrix[i][j],end=" ")
    print()

1 2 3
1 2 3

In [66]:
def sum_of_col(li):
    n = len(li)
    m = len(li[0])
    max_sum = -1
    max_index = -1
    for i in range(m):
        sum = 0
        for j in range(n):
            sum = sum + li[i][j]
        if sum > max_sum:
            max_index = j
            max_sum = sum
    return max_sum,max_index

li = [[1,2,3,4],[5,6,7,8],[9,80,1,2],[34,56,78,43]]
max_sum,max_index = sum_of_col(li)
print(max_sum,max_index)

211 3

In [84]:
x = [[2,3,4,5],
    [6,7,8,9],
    [56,78,90,56]]

y = [[6,4,3,2],
    [9,8,6,5],
    [3,2,5,7]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(x)):
    for j in range(len(y[0])):

        for k in range(len(result)):
            result[i][j] +=  x[i][j] * y[i][j]
for r in result:
    print(r)

[36, 36, 36, 30]
[162, 168, 144, 135]
[504, 468, 1350, 1176]

In [83]:
x = [[1,2,3,4],
    [5,6,7,8],
    [8,9,10,11]]

y = [[9,8,7,6],
    [3,3,4,5],
    [2,1,10,11]]
result = [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
for i in range(len(x)):
    for j in range(len(y[0])):

        for k in range(len(result)):
            result[i][j] += x[i][j] * y[i][j]

for r in result:
    print(r)

[27, 48, 63, 72]
[45, 54, 84, 120]
[48, 27, 300, 363]

In [3]:
print(2**3**2)

512

In [1]:
a = 4
b = 4
print(a+b)

8