In [1]:
str1 = input()   # aaaabccd
ch = str1[0]
result = ""
count = 0
str1 = str1 + " "

for x in str1:
    if x == ch:
        count += 1
    else:
        if count==1:
            result=result+str(ch)
            ch=x
            count=1
        else:
            result = result+str(ch)+str(count)
            ch = x
            count = 1
print(result)

a4bc2d

In [2]:
str = "aaaabcca"
print(str.replace("a",""))

bcc

In [1]:
str = "aaabcaaaabbbbbbbbbbbbcaaaa"
print(str.replace("b",""))

aaacaaaacaaaa

In [396]:
str_1 = "asdbbbbabbbaaa"
print(str_1.replace("s",""))

adbbbbabbbaaa

In [3]:
n = input()
n = n.split()
for i in n:
    i = i[::-1]
    print(i, end=" ")

emoclew ot gnidoc sajnin

In [13]:
def arePermutation(str1, str2):
    
    n1 = len(str1) 
    n2 = len(str2)
    if (n1 != n2):
        return False
  
    # Sort both strings 
    a = sorted(str1) 
    str1 = "".join(a) 
    b = sorted(str2) 
    str2 = "".join(b) 
  
    # Compare sorted strings 
    for i in range(0, n1, 1): 
        if (str1[i] == str2[i]): 
            return True
  
    return False
  
str1 = input()
str2 = input()
if (arePermutation(str1, str2)):
    print("true") 
else: 
    print("false")

true

In [392]:
def arePermutation(str1,str2):
    n = len(str1)
    m = len(str2)
    if n!=m:
        return False

    a = sorted(str1)
    str1 = "".join(a)
    b = sorted(str2)
    str2 = "".join(b)

    for i in range(n):
        if(str1[i]==str2[i]):
            return True
    return False
str1 = "maaykn"
str2 = "mayank"
c = arePermutation(str1,str2)
if True :
    print("true")
else:
    print("false")

true

In [6]:
string_new = "mayank"
a = sorted(string_new)
b = "".join(a)
b

'aakmny'

In [11]:
b = sorted(str2)
str2 = "#".join(b)
type(str2)

str

In [290]:
str = "can oij ds wedfsff"
del str
print(str)

<class 'str'>

In [291]:
str = "aaabaccc"
str2 = ""
x = 0
for i in str:
    if str.index(i) == x:
        str2 = str2 + i
    x = x + 1
print(str2)

abc

In [298]:
str = "mayank sharma"
str2 = ""
x = 0
for i in str:
    if (str.index(i)==x):
        str2 = str2 + i
    x+=1
print(str2)

maynk shr

In [308]:
str = "mayank sharma"
str2 = ""
x = 0
for i in str:
    if(str.index(i)==x):
        str2 = str2 + i
    x+=1
print(str2)

maynk shr

In [ ]:
str = "mayank sharma"
str2 = ""

In [26]:
type(str2)

str

In [42]:
row = int(input())
li = []
for i in range(row):
    ele = int(input())
    li.append(ele)
print(li)

[1, 2, 3, 4]

In [49]:
#import numpy as np
matrix = []
row = int(input())
col = int(input())
for i in range(row):
    a = []
    for j in range(col):
        val = int(input())
        a.append(val)
    matrix.append(a)
#arr = np.array(martix)
for i in range(row):
    for j in range(col):
        print(matrix[i][j],end="   ")
    print()

1   2   3
4   5   6

In [56]:
def sum(n,m,*more):
    a = n+m
    print(a)
    for i in more:
        a = a+i
    print(a)



n = 4
m = 3
sum(n,m,4,5,6,7)

7
29

In [364]:
s = "can you can you can you can canner"
d = {}
s = s.split()
for i in s:
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1
print(d)

{'can': 4, 'you': 3, 'canner': 1}

In [370]:
a = {"dusk till dawn":'SAMAR'}
print(type(a))
print(a)

<class 'dict'>
{'dusk till dawn': 'SAMAR'}

In [373]:
b = {"to find a way to this":5}
print(type(b))

<class 'dict'>

In [375]:
m1 = b.copy()
print(type(m1))

<class 'dict'>

In [63]:
d = dict([("this",5),("is",4),("a",4),("dictionary",7)])
d

{'this': 5, 'is': 4, 'a': 4, 'dictionary': 7}

In [30]:
d = dict([("this",5),("is",6),("you",8)])
d

{'this': 5, 'is': 6, 'you': 8}

In [377]:
r = dict([("u",8),("rt",8)])
r

TypeError: 'dict' object is not callable

In [68]:
d = dict.fromkeys(["abc","dcv","frd"],4)
d

{'abc': 4, 'dcv': 4, 'frd': 4}

In [32]:
wd = dict.fromkeys(["cbsdh","dasube","ewfjrn"],5)
wd

{'cbsdh': 5, 'dasube': 5, 'ewfjrn': 5}

In [73]:
row = int(input())
col = int(input())
matrix = []
for i in range(row):
    a = []
    for j in range(col):
        ele = int(input())
        a.append(ele)
    matrix.append(a)
for i in range(row):
    for j in range(col):
        print(matrix[i][j],end="   ")
    print()

1   2   3   4
5   6   7   8
9   0   1   2
3   4   5   6

In [324]:
print(type(matrix))

<class 'list'>

In [37]:
d = dict([("this",5),("thi",5),("yuji",5)])
print(d)

{'this': 5, 'thi': 5, 'yuji': 5}

In [34]:
d.keys()

dict_keys(['this', 'thi', 'yuji'])

In [35]:
d.values()

dict_values([5, 5, 5])

In [38]:
tuple_1 = (1,2,3)
tuple_2 = (3,4,5)
print(tuple_1+tuple_2)

(1, 2, 3, 3, 4, 5)

In [82]:
d = str(dict([("this","5"),("thi","5"),("yuji","4")]))
e = str(dict([("ths","5"),("hi","5"),("uji","4")]))
w = d+e
print(w)

TypeError: 'str' object is not callable

In [99]:
str_1 = "can you "
str_2 = "be my friend"
print(str_1+str_2)

can you be my friend

In [92]:
d = input()
d

'{"this":4}'

In [109]:
str_1 = "ca u"
str_3 = "6"
print (str_1+str_3)

ca u6

In [115]:
d = {"this":3,"bhalla":2,"will":3,"destory u":2}
for i in d:
    print(i,":",d[i])

this : 3
bhalla : 2
will : 3
destory u : 2

In [118]:
a = {1,2,3,4}
b = {4,2,1,5,6,7}
a.intersection(b)

{1, 2, 4}

In [119]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [123]:
a.difference(b)  #a mai hai per b mai nhi hai

{3}

In [127]:
b-a

{5, 6, 7}

In [125]:
b.difference(a)  #b mai hai per a mai nhi hai

{5, 6, 7}

In [329]:
a.symmetric_difference(b)  # not in both but present in a but not in b and vice-versa

{5, 6, 7}

In [131]:
a.intersection_update(b)
a

{1, 2, 4}

In [135]:
a.issubset(b)

True

In [138]:
s = {1,2,3,4,5,6,7,3,4}
s.add(9)
s

{1, 2, 3, 4, 5, 6, 7, 9}

In [142]:
s = {1,2,3,4,4,5}
add = 0
for i in s:
    add = add + i
print(add)

15

In [148]:
tuple("hamburg")

('h', 'a', 'm', 'b', 'u', 'r', 'g')

In [159]:
t = (1,2,3,4,5,6,7,8,9,10)
e = t[-6:]
e

(5, 6, 7, 8, 9, 10)

In [163]:
t = (1,2,3,4)
e = (t*2)
e

(1, 2, 3, 4, 1, 2, 3, 4)

In [331]:
s = {1,2,3,4,5}
e = s.pop()
s

{2, 3, 4, 5}

In [193]:
days = set(["monday","tuesday","wednesday","thursday","friday","Saturday"])
months = {"january","february","march","june"}
date = {1,2,3,4,5,6}
print(days)
print(months)
print(date)

{'monday', 'Saturday', 'thursday', 'tuesday', 'wednesday', 'friday'}
{'march', 'february', 'june', 'january'}
{1, 2, 3, 4, 5, 6}

In [196]:
days.add("sunday")
days

{'Saturday', 'friday', 'monday', 'sunday', 'thursday', 'tuesday', 'wednesday'}

In [198]:
days.discard("monday")
days

{'Saturday', 'friday', 'sunday', 'thursday', 'tuesday', 'wednesday'}

In [208]:
number = set([1,2,3,4,5,6,7])
number_2 = {1,2,3,4}
print(number_2<=number) #superset
print(number>=number_2) # subset

True
True

In [205]:
number = {1,2,3,4,5}
number_2 = {5,4,6,7,8,9}
print(number|number_2)
print(number&number_2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5}

In [229]:
row = int(input())
col = int(input())
input_list = input().split()
my_list = [[int(my_list[i*col+j])for j in range(col)]for i in range (row)]
my_list

TypeError: 'list' object is not callable

In [237]:
def replace(str,char,char2):
    new_string = ""
    for i in str:
        if (i==char):
            new_string = new_string + char2
        else:
            new_string = new_string + i
    return new_string

str = "fsafsavxyz"
str = replace(str,"s","d")
print(str)

fdafdavxyz

In [62]:
def replace(str,s,d):
    new_string = ""
    for i in str:
        if (i=="s"):
            new_string = new_string + "d"
        else:
            new_string = new_string + i
    return new_string

str = "fsafsavxyz"
str = replace(str,"s","d")
print(str)

fdafdavxyz

In [64]:
def replace(str,a,s):
    new_str = ""
    for i in str:
        if i=="a":
            new_str = new_str + "s"
        else:
            new_str = new_str + i
    return new_str

str = "mayank sharma"
str = replace(str,"a","s")
print(str)

msysnk shsrms

In [240]:
def replace(str,a,s):
    empty = ""
    for i in str:
        if (i==a):
            empty = empty + "s"
        else:
            empty = empty + i
    return empty


str = "mayank sharma"
str = replace(str,"a","s")
print(str)

msysnk shsrms

In [272]:
def count_in_string(c):
    count = 0
    tount = 0
    for i in c:
        
        if i=="q,w,e,r,t,y,u,i,o,pl,k,j,h,g,f,d,s,a,z,x,c,v,b,n,m":
            count = count + 1
        else:
            i=="!,@,#,$,%,^,&,*,(,)"
            tount = tount + 1
    return count , tount

c = "asdfghjkj@ wqerty2!%^&"
e = count_in_string(c)
print(e)

(0, 22)

In [262]:
x= [i**+1 for i in range(3)]; print(x);

[0, 1, 2]

In [285]:
def count_in_string(c):
    c,s,v,d = 0,0,0,0
    for i in str:
        if (i>="a" and i<="z") or (i>="A" and i<="Z"):
            
            if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u") or ((i=='A'or i=='E' or i =='I' or i=='O' or i=='U')):
                v+=1
            else:
                c+=1
        elif (i>='0' and i<='9'):
            d+=1    
        else:
            s+=1
    return c,v,s,d

str = "aeioumynk06112005&"
e = count_in_string(str)
print(e)

(4, 5, 1, 8)

In [335]:
list = [10,20,30,40,50,60,70]
for i in list:
    if (i>50):
        list.remove(i)
print(i)

60

In [336]:
list = [30,40,50,60,70]

In [353]:
list_2 = [i for i in list if i <= 50 ] 
list_2

[30, 40, 50]

In [356]:
def get_max_occuring_char(str1):
  ASCII_SIZE = 256
  ctr = [0] * ASCII_SIZE
  max = 0
  ch = ''
  for i in str1:
    ctr[ord(i)]+=1;
 
  for i in str1:
    if max < ctr[ord(i)]:
      max = ctr[ord(i)]
      ch = i
  return ch

str1="mayank"
print(get_max_occuring_char(str1))

a

In [417]:
def get_max(str1):
    ascii = 256
    ctr = [0] * ascii
    max = 0
    empty = ""
    for i in str1:
        ctr[ord(i)]+=1
    
    for i in str1:
        if max < ctr[ord(i)]:
            max = ctr[ord(i)]
            empty = i
    return empty
str1="mayank"
print(get_max(str1))

a

In [359]:
e = (1,3)
type(e)

tuple

In [361]:
t = (1,2,3)
t_2 = (5,6,7)
sum = t+t_2
sum

(1, 2, 3, 5, 6, 7)

In [362]:
set = {1,2,3,4,1,2,3,4}
len(set)

4

In [389]:
str = "aaabcccbbbbccc"
str_2 = ""
for i in str:
    if str_2 == "" or i!= str_2[len(str_2)-1]:
        str_2 += i
print(str_2)

abcbc

In [399]:
str = "aaabcccbcca"
s = ""
for i in str:
    if s == "" or i!=s[len(s)-1]:
        s +=i
print(s)

abcbca

In [400]:
s = "mayank shaarma"
s_new = ""
x = 0
for i in s:
    if (s.index(i)==x):
        s_new+=i
    x+=1
print(s_new)

maynk shr

In [414]:
str = "welcome to ninjas coding"
e = str.split()
for i in e:
    w=i[::-1]
    print(w,end=" ")

emoclew ot sajnin gnidoc

In [415]:
str = input().slit()
n,m = int(str[0]),int(str[1])
li = [[int(j) for j in input().split()]for i in range(n)]
li

TypeError: 'list' object is not callable

In [418]:
str= "mayank sharma"
print(str.replace("a",''))

mynk shrm

In [420]:
str = input("").split()
a = int(input())
for i in str :
    x = print(i[a],end="")

TypeError: 'list' object is not callable

In [29]:
def are_permutation(str1,str2):
    n = len(str1)
    m = len(str2)
    if n!=m:
        return False

    a = sorted(str1)
    str1 = "".join(a)
    b = sorted(str2)
    str2 = "".join(b)

    for i in range(n):
        for j in range(n):
            if str1[i]==str2[j]:
                return True

    return False

str1 = "mayank"
str2 = "knaaym"
if are_permutation(str1,str2):
    print("true")
else:
    print("false")

true

In [56]:
str  = "welcome to coding ninjas"
e = str.split()
for i in e:
    i = i[::-1]
    print(i,end=" ")

emoclew ot gnidoc sajnin

In [58]:
str = "asdfcgvhbv"
str3=str.split()
type(str3)
print(str3)

['asdfcgvhbv']

In [85]:
def checkFib(n):
    if n==1 or n==0:
        return True
    a = 1
    b = 1
    while a<n:
        a, b = a+b, a
    if a==n:
        return True
    return False

n = int(input())
if checkFib(n):
    print("true")
else:
    print("false")

true

In [91]:
def fibo(n):
    a = 0
    b = 1
    print(a)
    print(b)
    for i in range(2,n):
        c = a + b
        a = b
        b = c
        print(c)
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [103]:
i = int(input())
original = i
sum = 0
while i>0:
    sum = sum+(i%10)*(i%10)*(i%10)*(i%10)
    i = i//10

if original == sum:
    print("Armstrong")
else:
    print("Not Armstrong")

Armstrong

In [107]:
def armstrong(n):
    order = len(n)
    sum = 0

    original = n
    while n>0:
        digit = num%10
        sum += digit ** order
        n = n//10

    if sum == original:
        return True
    else:
        return False

n = int(input())
armstrong(n)

TypeError: object of type 'int' has no len()